.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4%;
    
}
.nav-Logo{
    width: max(10%,80px);
}
.navprofile{
    width: 40px;
}

@media (max-width: 1280px) {
    .navbar{
        padding: 15px 30px;
    }
    .nav-Logo{
        width: 150px;
    }
    .navprofile{
        width: 60px;
    }
    
}

@media (max-width: 800px) {
    .navbar{
        padding: 15px 30px;
    }
    .nav-Logo{
        width: 150px;
    }
    .navprofile{
        width: 60px;
    }
    
}